<div class="segura-conteudo">
	
	<div class="conteudo internas">




            <div class="store-focus-page">
                <div class="page-wrapper">
                    <div class="page-title">
                        Lojas
                        <div class="page-share clearfix">
                            <div class="addthis_toolbox addthis_default_style">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet" style="width: 90px"></a>				
                                <a class="addthis_counter addthis_pill_style"></a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content clearfix">
                        <div class="store-focus">
                            <div class="store-text clearfix">
                                <p><img width="200" src="<%= @loja.foto%>" /></p>
                                <p class="store-name"><%= @loja.nome%></p>
                                <p><%= @loja.descricao %></p>
                            </div>
                            <div class="store-hour"><p>Horário: 10 às 22h | Localização: Piso 1 | Telefone: 62 3097-9511.</p></div>
                            <div class="store-map"><img src="/assets/deletar-depois/google-maps.jpg" /></div>
                            <div class="back-button"><a href="<%= lojas_path%>" title=""><img src="/assets/back-button.png" /></a></div>
                        </div>
                        
                        <div class="sidebar">
                            <div class="right-mapa-box">
                                <img src="/assets/img-mapa.png" class="mapa-icon" />

                                <div class="release">
                                    <h2>Mapa do shopping</h2>
                                    <p>Conheça a localização de todas as lojas e serviços do Montes Claros  Shopping.</p>
                                    <a href="javascript:;" class="btn-secundary right"><span>Faça um TOUR</span></a>
                                    <div class="clear"></div>
                                </div>				
                            </div><br />

                            <div class="categorias-scroll">
                                <h2 class="right-collun-title">Categorias</h2>
                                <img src="/assets/categorias-block-top.png" />

                                <div id="content_1" class="content">
                                    <ul class="list-categoria">
                                        <% @categorias.each do |c|%>
                                            <li><a href="<%= categoria_loja_path(c)%>"><%= c.nome %></a></li>
                                        <% end %>
                                    </ul>
                                </div>

                                <img src="/assets/categorias-block-bot.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>




	</div>		
			
	<div class="clear"></div>			
</div>
	

