<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @comercio_galery.image %>
</p>

<p>
  <b>Comercializacao:</b>
  <%= @comercio_galery.comercializacao %>
</p>


<%= link_to 'Edit', edit_comercio_galery_path(@comercio_galery) %> |
<%= link_to 'Back', comercio_galeries_path %>
