<%= form_for(@horario_inf) do |f| %>
  <% if @horario_inf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario_inf.errors.count, "error") %> prohibited this horario_inf from being saved:</h2>

      <ul>
      <% @horario_inf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :informacao %><br />
    <%= f.text_field :informacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
