<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sala.nome %>
</p>

<p>
  <b>Fh1:</b>
  <%= @sala.fh1 %>
</p>

<p>
  <b>Fh2:</b>
  <%= @sala.fh2 %>
</p>

<p>
  <b>Fh3:</b>
  <%= @sala.fh3 %>
</p>

<p>
  <b>Fh4:</b>
  <%= @sala.fh4 %>
</p>

<p>
  <b>Fh5:</b>
  <%= @sala.fh5 %>
</p>

<p>
  <b>Sh1:</b>
  <%= @sala.sh1 %>
</p>

<p>
  <b>Sh2:</b>
  <%= @sala.sh2 %>
</p>

<p>
  <b>Sh3:</b>
  <%= @sala.sh3 %>
</p>

<p>
  <b>Sh4:</b>
  <%= @sala.sh4 %>
</p>

<p>
  <b>Sh5:</b>
  <%= @sala.sh5 %>
</p>

<p>
  <b>Legendado:</b>
  <%= @sala.legendado %>
</p>

<p>
  <b>Tresd:</b>
  <%= @sala.tresD %>
</p>


<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
